body
{
	font-family: Montserrat, sans-serif;
}
/*---------------footer---------------------*/

.footer-basic {
	padding: 30px 0;
	background-color: rgb(242, 219, 188);
	color:#1e140d;
	text-align: center;
}

.footer-basic .social {
	text-align:center;
	padding-bottom:25px;
}

.footer-basic .social > a {
	font-size:24px;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
	border-radius:50%;
	border:1px solid #1e140d;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
}
.social-links a
{
	text-align: center;
	font-size: 20px;
	margin:50px;
	color: #1e140d;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:18px;

  color:#aaa;
}

/*---------------footer---------------------*/