body
{
background-image: url(loginbg.png) ;
font-family: montserrat, sans-serif;
background-size: 100%;
}
h1
{
text-align: center;
padding-bottom: 40px;
}
li
{
	list-style: none;
}
.card{
	margin: 50px;
	padding: 50px;
	top: 10px;

	border-radius: 80px;
	background-color: #fcdaac;
}

.btn
{
	width: 150px;
	margin: 50px 30px 30px 10px;
	border-radius: 40px;
	background-color: #e0b070;
}
.main-form
.form-group
{
	margin-bottom: -10px;
}
.main-form input[type="text"],
.main-form input[type="password"] {
    border: 0;
    background: none;
    border-bottom: solid 2px;
    padding: 5px 5px;
    outline: none;
    color: #e0b070;
  
}
