body
{
	background-color: rgb(255, 243, 227);
  font-family: Montserrat, sans-serif;
}

/* NAVBAR */
		.navbar li
		{
			font-weight: bold;

		}

		.navbar-brand img{
			width: 60px;
			height: auto;
			margin: 0 2px 0 100px;
		}

		.search{
			background-color: rgb(240, 226, 223);
			border-style: none;

			border-radius: 20px 0px 0px 20px;
			height: 27px;
		}
		.btn-search{
		  padding: 3px;
		  border-radius: 0px 20px 20px 0px;
		  height: 27px;
		  width: 50px;
		  background-color: rgb(240, 226, 223);
		  margin-left: -10px;
		}
		.nav-icons :hover
		{	
			color: black;
			cursor: pointer;
		}

		.dropdown:hover>.dropdown-menu
		{
		  display: block;
		}
/* NAVBAR */




.mission h1, .vision h1, .team h1{
	color: #ed9f0c;
	font-family: 'Brice';
}

.mission p, .vision p{ 
	color: #46301f;
	font-family: 'Montserrat', sans-serif;
	font-weight: 550;
	line-height: 2.5rem;
}

.team  h4{
	color: #46301f;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.team  h5{
	color: #46301f;
	font-size: smaller;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}



/*---------------footer---------------------*/
.footer-basic {
	padding: 30px 0;
	background-color: rgb(242, 219, 188);
	color:#1e140d;
	text-align: center;
}

.footer-basic .social {
	text-align:center;
	padding-bottom:25px;
}

.footer-basic .social > a {
	font-size:24px;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
	border-radius:50%;
	border:1px solid #1e140d;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
}
.social-links a
{
	text-align: center;
	font-size: 20px;
	margin:50px;
	color: #1e140d;
	text-decoration: none;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:18px;
  color:#aaa;
}

/*---------------footer---------------------*/

