body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 243, 227);
}


/* NAVBAR */
    .navbar li
    {
      font-weight: bold;

    }

    .navbar-brand img{
      width: 60px;
      height: auto;
      margin: 0 2px 0 100px;
    }

    .search{
      background-color: rgb(240, 226, 223);
      border-style: none;

      border-radius: 20px 0px 0px 20px;
      height: 27px;
    }
    .btn-search{
      padding: 3px;
      border-radius: 0px 20px 20px 0px;
      height: 27px;
      width: 50px;
      background-color: rgb(240, 226, 223);
      margin-left: -10px;
    }
    .nav-icons :hover
    { 
      color: black;
      cursor: pointer;
    }

    .dropdown:hover>.dropdown-menu
    {
      display: block;
    }
/* NAVBAR */


table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}
.item {
  display: flex;
  flex-wrap: wrap;
}
.item-details {
  margin-top: 30px;
  margin-left: 30px;
}
th {
  text-align: left;
  padding: 10px;
  background-color: #46301f;
  color: white;
  font-weight: bold;
}
td {
  background-color: seashell;
  padding: 10px 10px;
}
td img {
  border-radius: 10px;
}
td input {
  border: 1px solid #46301f;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  padding: 10px;
}
.computaion,
.grand-total,
.checkout {
  display: flex;
  justify-content: flex-end;
  margin-left: 550px;
}
.computaion table {
  border-top: 2px solid #46301f;
  width: 100%;
}
.grand-total table {
  border-top: 5px solid #46301f;
  width: 100%;
  font-weight: bolder;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

/*--- media query for less than 600 screen size ---*/
@media only screen and (max-width: 600px) {
  .item-details h4 {
    display: none;
  }
}



/*---------------footer---------------------*/

.footer-basic {
  padding: 30px 0;
  background-color: rgb(242, 219, 188);
  color:#1e140d;
  text-align: center;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:60px;
  height:60px;
  line-height:60px;
  display:inline-block;
  border-radius:50%;
  border:1px solid #1e140d;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}
.social-links a
{
  text-align: center;
  font-size: 20px;
  margin:50px;
  color: #1e140d;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:18px;

  color:#aaa;
}

