body
{
background-image: url(loginbg.png) ;
font-family: montserrat, sans-serif;
background-size: 100%;
}
h1
{
text-align: center;
padding-bottom: 40px;
}
.main-form input
{
	background-color: #fcdaac;
	border-style: none;
	border-bottom: solid 2px;
}
li
{
	list-style: none;
}
.card{
	
	margin: 50px;
	padding: 50px ;
	top: 10px;
	border-radius: 80px;
	background-color: #fcdaac;
	
}

.btn
{
	width: 150px;
	margin: 10px 30px 30px 10px;
	border-radius: 40px;
	background-color: #e0b070;
}
.icons p
{
	text-align: center;
}
.icon1{
	margin-top: -20px;
	margin-bottom: -20px;
}