body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff3e3;
  }
/* NAVBAR */
    .navbar li
    {
      font-weight: bold;

    }

    .navbar-brand img{
      width: 60px;
      height: auto;
      margin: 0 2px 0 100px;
    }

    .search{
      background-color: rgb(240, 226, 223);
      border-style: none;

      border-radius: 20px 0px 0px 20px;
      height: 27px;
    }
    .btn-search{
      padding: 3px;
      border-radius: 0px 20px 20px 0px;
      height: 27px;
      width: 50px;
      background-color: rgb(240, 226, 223);
      margin-left: -10px;
    }
    .nav-icons :hover
    { 
      color: black;
      cursor: pointer;
    }

  .dropdown:hover>.dropdown-menu
  {
    display: block;
  }
/* NAVBAR */
  


h1{
  font-size: 5em;
  color: #ed9f0c;
  font-weight: bold;
  margin-top: 1em;
}
h4{
  text-align: center;
}
.card{
 
 margin-left: 5em;
 
}
.card-title{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.card-text {
  text-align: center;
  font-size: 15px;
  width: 15em;
}

img:hover{ 

    cursor: pointer;
    background-color: #ed9f0c;
    border-radius: 90px;
}

.next-page a {
    text-decoration: none;
    color: #000;
}
#num {
    font-size: 18px;
    text-align: center;
    margin-right: .8em;
    border: 1px solid #000;
    background-color: #fff;
    padding: 3px;
    width: 25px;
    transition: 1s;
}


#num:hover {
    background-color: #1e140d ;
    color: #fff;
}

@media screen and (max-width:500px) {

    .desc {
        display: flex;
        flex-direction: column;
    }

    .desc select {
        margin-right: 10em;
    }

    .fab {
        font-size: 1em;
        padding: 0 15px;
    }

}


/*---------------footer---------------------*/

.footer-basic {
  padding: 30px 0;
  background-color: rgb(242, 219, 188);
  color:#1e140d;
  text-align: center;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:60px;
  height:60px;
  line-height:60px;
  display:inline-block;
  border-radius:50%;
  border:1px solid #1e140d;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}
.social-links a
{
  text-align: center;
  font-size: 20px;
  margin:50px;
  color: #1e140d;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:18px;

  color:#aaa;
}

